@use "../variables";
@keyframes entrada-izquierda {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes entrada-derecha {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animar-izquierda {
  opacity: 0;
  animation: entrada-izquierda 0.8s ease-out forwards;
}

.animar-derecha {
  opacity: 0;
  animation: entrada-derecha 0.8s ease-out forwards;
}