@use "../variables";

.footer {
  background-color: variables.$bg-footer;
  padding: 1rem;
  color: variables.$white;
  margin-top: 2rem;
  font-size: 0.75rem;
  text-align: center;

  &__text {
    font-family: variables.$font-family-sans-serif;
    line-height: 1.4;
  }

  &__link {
    color: variables.$white;
    text-decoration: none;

    &:hover {
      color: variables.$accent;
    }
  }
}