@use "../variables";

.header {
  background-color: variables.$white;
  padding: 1rem 2rem;

  &__nav {
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
  }

  &__link {
    color: variables.$corporate;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: variables.$accent;
    }
  }
}