@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: variables.$corporate;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: variables.$bg;
}





