@use "../abstracts/variables" as v;

/* ================================
   Footer global
   ================================ */
.footer {
  position: relative;
  z-index: v.$z-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: v.$color-main;
  font-size: 0.75rem;
  text-align: center;
  background-color: v.$color-granate;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap:0.5rem;
  margin-top: 1rem;
}

.footer-social-icon {
  width: 32px;       
  height: 32px;      
  object-fit: contain; 

  &:hover {
    opacity: 0.7; 
  }
}



