@use "../abstracts/variables" as v;

/* ================================
   Footer global
   ================================ */
.footer {
  background-color: v.$color-granate;
  padding: 1rem 2rem;
  color: v.$color-main;
  font-size: 0.75rem;
  text-align: center;
  position: relative;
  z-index: v.$z-header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap:0.5rem;
}

.footer__social-icon {
  width: 32px;       
  height: 32px;      
  object-fit: contain; 
  &:hover {
    opacity: 0.7; 
  }
}



