@use "../abstracts/variables" as v;

/* ================================
   Layout Grid principal
   ================================ */
.grid {
  position: relative;
  display: grid;
  gap: 1rem;
  min-height: 100vh; 
  padding: 1rem;
  color: v.$color-text;
  background-color: v.$color-main;
}


   