@use "../abstracts/variables" as v;

/* ================================
   Menú de navegación global
   ================================ */
.footer-nav-group {
  display: flex;
  justify-content: center;
  gap: 2rem; 
}

.nav-list,
.footer-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
  
  /* Ocultar en móviles */
    @media (max-width: v.$breakpoint-md) {
      display: none;
    }
}

.nav-link,
.footer-link {
  color: v.$color-text; 
  font-size: 0.875rem;
  text-transform: uppercase; 
  font-weight: 600;  
  text-decoration: none;   
  transition: color 0.3s;

  &:hover {
    color: v.$color-marron; 
  }
}





