@use "sass:color";

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "segoe ui", roboto,
  "helvetica neue", arial, sans-serif, "apple color emoji", "segoe ui emoji",
  "segoe ui symbol";
$font-family-serif: "georgia", "times new roman", serif;
$corporate: #000078;
$masterbrand: #a7effa;
$white: #fff;
$bg: color.scale($masterbrand, $lightness: 70%);
$bg-footer: #000078;
$accent: color.scale($corporate, $lightness: 30%);
$mq-min-width: 420px;