/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import abstracts
 */
@use "abstracts/dependencies";
@use "abstracts/variables";
@use "abstracts/functions";

/**
 * Import components
 */
@use "components/animaciones";

/**
 * Import layouts
 * 
 */
@use "layouts/footer";
@use "layouts/grid";
@use "layouts/header";

/**
 * Import pages
 */
@use "pages/home";

/**
 * Do NOT include anything else in this file!
 */
