/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@use "dependencies";

/**
 * Import functions
 */
@use "functions";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */
// @use "layouts/seccion";

/**
 * Import pages
 */
@use "pages/home";

/**
 * Import components
 */
@use "components/footer";
@use "components/header";
@use "components/animaciones";

/**
 * Do NOT include anything else in this file!
 */
