/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import abstracts
 */
@use "abstracts/dependencies";
@use "abstracts/variables";
@use "abstracts/functions";

/**
 * Import vendors
 */
@use "vendors/custom-bootstrap";

/**
 * Import base
 */
@use "base/reset";

/**
 * Import layouts
 * 
 */
@use "layouts/footer";
@use "layouts/grid";
@use "layouts/header";
@use "layouts/nav";

/**
 * Import components
 */
@use "components/animaciones";
@use "components/logo";

/**
 * Import pages
 */
@use "pages/index";
@use "pages/articulo";
@use "pages/contacto";
@use "pages/participantes";

/**
 * Do NOT include anything else in this file!
 */
